.medium-product{    
    @extend .large-product;   

    @include at-breakpoint($break-1){ }
    @include at-breakpoint($break-2){ }
    @include at-breakpoint($break-3){
        figure{ 
            width: 50%;
            @include float-left;
        }
        .body{
            @include box-sizing(border-box);
            @include float-right;
            width: 50%;
        }    
    } 
    @include at-breakpoint($break-4){
        figure, .body{
            @include reset-float;
            width: auto;
        }
    }
    @include at-breakpoint($break-5){ }
    @include at-breakpoint($break-6){ }

}