#order-navigation{
    @extend .block;
    @include clearfix;
    position: relative;
    margin: 25px 0 40px 0;
    ul{
        li{
            display: inline-block;
            width: 100%;
            a{
                display: block;
                font-size: 1.5rem;
                font-weight: 300;
                color: lighten($dark, 35%);
                padding: 5px 20px;
                span{
                    margin-right: 15px;
                    color: $orange; 
                }
            }
            &.selected{
                @include background(lighten($blue,35%));
                a{ 
                    color: $white; 
                    span{ color: $blue; }
                }
            }
        }
    }   

    @include at-breakpoint($break-1){ }
    @include at-breakpoint($break-2){ }
    @include at-breakpoint($break-3){ 
        ul li {
            width: 33%;
            a{ padding: 7px 10px; }
            &:last-child{ @include float-right; }
        }
    }
    @include at-breakpoint($break-4){
        ul li a{ 
            padding: 7px 10px; 
            font-size: 1.6rem;
        }
    }
    @include at-breakpoint($break-5){
        ul li a{ 
            padding: 10px 20px; 
            font-size: 1.7rem;
        }
    }
    @include at-breakpoint($break-6){ 
        ul li a{ font-size: 1.8rem; }
    }

}