.product-manipulation{
    margin-bottom: 25px;
    text-align: center;
    .price-container{ 
        display: block;
        font-size: 2.6rem;
        font-weight: 300;

    }
    .add-to-cart-container{
        margin-top: 35px;
        input[type=number], button{
            padding: 7px 0;
            width: 100%;
        }
        input[type=number]{
            color: lighten($dark, 15%);
            @include box-sizing(border-box);
            border: 1px solid lighten($dark, 75%);
        }
        button{
            margin-top: 5px;
            width: 49%;
        }
        span{ margin-right: 10px; }
    }

    @include at-breakpoint($break-1){ @include span-columns(6 omega, $break-1); }     
    @include at-breakpoint($break-2){ @include span-columns(8 omega, $break-2); }     
    @include at-breakpoint($break-3){ @include span-columns(14 omega, $break-3); }     
    @include at-breakpoint($break-4){ @include span-columns(6 omega, $break-4); }     
    @include at-breakpoint($break-5){ @include span-columns(5 omega, $break-5); }     
    @include at-breakpoint($break-6){ @include span-columns(6 omega, $break-6); }     

}    