$default-transition-duration: 0.3s;
$green: #168039;
$white: #fff;
$default-font-size: 62.5%;  // 10px
$default-line-height: 1.4;
$default-font-family: 'Open Sans', sans-serif;
$black: #000;
$yellow: #d0a825;
$light-yellow: #e8e595;
$blue: #225378;
$dark-blue: #26393D;
$light-white: #fffaf4;
$orange: #dd4814;
$red: #da202C;
$dark: #191919;