#related-articles{
    @extend #product; 
    ul { 
        li{
            position:relative;
            margin-bottom: 2px;
            &:last-child{ margin-bottom: 0; }
            padding-left: 15px;
            a{
                font-size: 1.2rem;
                color: lighten($dark,25%);
                span{
                    position: absolute;
                    top: 2px;
                    left: 0;
                    margin-right: 10px;
                    color: lighten($blue,15%);
                }
            }
        }
    }
    footer{ 
        @include clearfix;
        margin-top: 25px;
    }

    @include at-breakpoint($break-1){ @include span-columns(6 omega, $break-1); } 
    @include at-breakpoint($break-2){ @include span-columns(8 omega, $break-2); } 
    @include at-breakpoint($break-3){ @include span-columns(14 omega, $break-3); } 
    @include at-breakpoint($break-4){ @include span-columns(20 omega, $break-4); } 
    @include at-breakpoint($break-5){ @include span-columns(24 omega, $break-5); } 
    @include at-breakpoint($break-6){ @include span-columns(30 omega, $break-6); } 

}